{% extends "sentry/_layouts/settings" %}

{% set fullPageForm = true %}

{% import "_includes/forms" as forms %}
{% import "sentry/_macros/settings" as macros %}

{% block content %}
  {{ forms.hidden({
      name: 'action',
      value: 'plugins/save-plugin-settings'
  })}}

  {{ forms.hidden({
      name: 'pluginHandle',
      value: plugin.handle
  })}}

  <h2 class="first">Authentication</h2>

  {{ forms.textField({
      first:        true,
      label:        'Authentication Token',
      required:     true,
      instructions: 'Authentication tokens allow you to perform actions against the Sentry API on behalf of your account.',
      id:           'authToken',
      name:         'settings[authToken]',
      placeholder:  'ScpkLqWe5VDSSYXDsHVEMj3j1KRCyZUjScpkLqWe5VDSSYXDsHVEMj3j1KRCyZUj',
      value:        settings.authToken,
      disabled:     'authToken' in overrides,
      warning:      'authToken' in overrides ? macros.configWarning('authToken'),
      errors:       settings.getErrors('authToken')
  }) }}

  {% if 'authToken' not in overrides %}
    <a class="btn" href="https://sentry.io/api/" target="_blank">Get Authentication Token</a>
  {% endif %}
{% endblock %}
