{% extends "sentry/_layouts/settings" %}

{% set fullPageForm = true %}

{% import "_includes/forms" as forms %}
{% import "sentry/_macros/settings" as macros %}

{% block content %}
  {{ forms.hidden({
      name: 'action',
      value: 'plugins/save-plugin-settings'
  })}}

  {{ forms.hidden({
      name: 'pluginHandle',
      value: plugin.handle
  })}}

  <h2 class="first">Excluded Codes</h2>

  {{ forms.textField({
      label:        'Excluded HTTP Error Codes',
      instructions: 'Comma separated list of HTTP error codes that should not be sent to Sentry.',
      id:           'excludedCodes',
      name:         'settings[excludedCodes]',
      placeholder:  '400, 404, 429',
      value:        settings.excludedCodes,
      disabled:     'excludedCodes' in overrides,
      warning:      'excludedCodes' in overrides ? macros.configWarning('excludedCodes')
  }) }}
{% endblock %}
